<%- include('./partials/head') %>

  <!--Hiermee wordt elke persoon uit squad D gelinkt aan een polaroid kaartje: loop. Deze gegevens zijn gelinkt aan de server en komen uit de WHOIS API database. -->
  <main>
    <% persons.forEach(person => { %>
  <ul class="person-container">
    <li class="polaroid">
      <div class="polaroid-front">
        <div class="polaroid-photo">
          <!--hieronder haal ik de foto op van elk persoon, indien er geen foto is (error) gebruik dan de volgende foto in plaats van-->
          <img src="<%= person.avatar %>" alt="profiel" onerror="this.onerror=null; this.src='../images/avatar_fallback.jpeg'" alt="placeholder avatar">
        </div>
        <a href="/person/<%= person.id %>" aria-label="person detailpage"><%= person.name %> <%= person.prefix %> <%= person.surname %></a>
      </div>

      <div class="polaroid-back">
        <div class="polaroid-backwrap-top">
          <p>Don't put in mouth. Don't put in mouth.</p>
        </div>
        <div class="polaroid-about">
          <a href="/person/<%= person.id %>" aria-label="person githubpage"><%= person.website %></a>
        </div>
        <div class="polaroid-backwrap-bottom">
          <p>instaxFUJIFILM</p>
          <p>instaxFUJIFILM</p>
        </div>
      </div>
    </li>
  </ul>
  <% }) %>


  </main>







  <!-- <h2>Students</h2>
<ul>
  <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul> -->

  <%- include('./partials/foot') %>